@import url("https://fonts.googleapis.com/css?family=Press+Start+2p");
@import url("https://fonts.googleapis.com/css?family=VT323");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500;600;700&amp;family=Open+Sans&amp;display=swap");
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap');

.App {
  text-align: center;
  font-family: 'Nunito';
  color: #000000;
}

* {
  box-sizing: border-box;
}
body {
  overflow: auto;
}